.new-arrivals{
    text-align: center;
}
.pro-container{
    display: flex;
    justify-content: space-between;
    padding-top:20px;
    flex-wrap: wrap;
}

@media (max-width:799px) {
    .pro-container{
        justify-content: center;
    }
}

