.features{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}


@media (max-width:799px) {
 
    
    .features{
        justify-content: center;
        gap: 15px;
    }
   
   

}